Scikit-learn 1/films_review/imdb_preprocessed.csv 
.idea/
Lasso (alpha
hierarchical_clustering.txt
creditcard.csv
Warsztaty/
Projekt/
Deep_learning 2/
Deep_learning 1/
imdb_preprocessed.csv
imdb.csv
Scikit-learn 1/
Scikit-learn 2/